<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/board.css}">
<link rel="stylesheet" th:href="@{/css/AfterSchool.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>After School :: 자유게시판 목록</title>

<script>


	//header에 있는 로그아웃 기능
	function logout() {
		
		if(confirm('로그아웃하시겠습니까? 자동로그인도 해제됩니다')) {
			
			let authkey = getCookie('authkey');
			if(authkey !== undefined)
				document.cookie = 'authkey=' + authkey + '; path=/; max-age=0';
			document.location.href='/account/logout';
		}
	}

	const getCookie = (name) => {
		
		const cookies = document.cookie.split(`; `).map((el) => el.split('='));
		  let getItem = [];
	
		  for (let i = 0; i < cookies.length; i++) {		    
		    if (cookies[i][0] === name) {
		      getItem.push(cookies[i][1]);
		      break;
		    }
		  }
		  if (getItem.length > 0) {
				console.log(getItem[0]);
		    	return decodeURIComponent(getItem[0]);
		  }		
	}//end of header logout
	

	//검색 기능
	const search = () => {
		
		const keyword = document.querySelector('#keyword');
		document.location.href='/freeboard/freeList?page=1&keyword=' + keyword.value;
		
	}
	
	//enter키를 눌러도 검색 가능
	const press = () => {
		if(event.keyCode==13) search();
	}
</script>
</head>
<body>


	<!--header-->	
	  <header>
		  	<a href="/main" style="text-decoration: none; text-align: left;">
			    <h1 style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;After School</h1>
	    	</a>

		<div th:if="${session.userid != null}">
		<!-- if userid != null -->
	    	<div class="dots" onclick="this.classList.toggle('active');">
			  <div class="container cut">
			    <div class="drop cut2"></div>
			  </div>
			  <div class="list">
			    <ul>
					<!--if role == student -->
					<div th:if="${session.role == 'STUDENT'}">
					<a th:href="@{'/student/myClass?userid=' + ${session.userid}}" style="text-decoration: none;">
						<li>내 강의실</li>
			      	</a>
			      	</div>
			      	<!--if role == teacher -->
					<div th:if="${session.role == 'TEACHER'}">
					<a th:href="@{'/teacher/teacherMyClass?userid=' + ${session.userid}}" style="text-decoration: none;">
						<li>내 강좌 목록</li>
			      	</a>
			      	</div>
			      	<!--if role == manager -->
					<div th:if="${session.role == 'MANAGER'}">
					<a href="/manager/memberInfo" style="text-decoration: none;">
						<li>내 강의실</li>
			      	</a>
			      	</div>
			  		<a href="javascript:logout()" style="text-decoration: none;">
			    		<li style="margin-top:50px;">로그아웃</li>
			   		</a>
			    </ul>
			  </div>
			  <div class="dot"></div>
			</div>
			<div class="cursor" onclick="document.querySelector('.dots').classList.toggle('active');">
     			<!-- if session.role = student -->
				<div th:if="${session.role == 'STUDENT'}">
	     			<img th:src="@{'/images/avatar/' + ${session.avatar} + '.png'}" style="height: 100px;">
	     		</div>
	     		<!-- if session.role = teacher -->
	     		<div th:if="${session.role == 'TEACHER'}">
	     			<img th:src="@{'/profile/' + ${session.profile}}" style="height: 100px;">
	     		</div>
     		</div>
     	</div>
	  </header>
	  <!--end of header-->
	  
	
	<main>


	<div class="board">
		<h1 class="board_title">자유게시판</h1>

		<!-- 글쓰기 버튼 -->
		<div onclick="location.href='/freeboard/freeWrite'" class="write_btn">글쓰기</div>
		
		<br><br>
		
		<!-- 게시글 목록 -->
		<table class="board_list">
			<thead>
				<tr class="list_header">
					<!-- <th>번호</th> -->		
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>조회수</th>
				</tr>
			</thead>
			
			 
			<tbody>
			<th:block th:if="${list != null}">
				<tr th:each="list: ${list}" class="list_body">
					<!-- <td th:text="${list.seqno}"></td> -->
					<td style="text-align:left"><a id="hypertext" th:href="@{'/freeboard/freeView?seqno=' + ${list.seqno} + '&page=' + ${page} + '&keyword=' + ${keyword}}"  
						onmouseover="this.style.textDecoration='underline'"  
						onmouseout="this.style.textDecoration='none'"><span th:text="${list.title}"></span></a></td>
					<td th:text="${list.writer}"></td>
					<td th:text="${#temporals.format(list.regdate,'yyyy-MM-dd')}"></td>				
					<td th:text="${list.hitno}"></td>
				</tr>						
			</th:block>
			</tbody>	
		</table>
		
		<!-- page number -->
		<div class="board_pagelist">[(${pageList})]</div>
		
		<!-- 검색 기능 -->
		<div class="board_search_container">
			<input type="text" name="keyword" id="keyword" class="search_input_board" onkeydown="press()">
			<div type="button" class="search_btn" onclick="search()"><i class="fa-sharp fa-solid fa-magnifying-glass" style="color: #2a5db7;"></i></div>
		</div>
	</div>
	
	
		</main>
	
		
  <footer>
    <p>footer</p>
    <small>Go back to link<a href="/link">Click</a></small>
  </footer>
	
    
	
</body>
</html>