<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>After School :: 로그인</title>
<link rel="stylesheet" th:href="@{/css/AfterSchool.css}">

<script>
	window.onload = async () => {
		
		//쿠키 가져 오기
		const getCookie = (name) => {
			
			const cookies = document.cookie.split(`; `).map((el) => el.split('='));
			  let getItem = [];
		
			  for (let i = 0; i < cookies.length; i++) {		    
			    if (cookies[i][0] === name) {
			      getItem.push(cookies[i][1]);
			      break;
			    }
			  }
			  if (getItem.length > 0) {
					console.log(getItem[0]);
			    	return decodeURIComponent(getItem[0]);
			  }		
		}
		
		let userid = getCookie('userid');
		let authkey = getCookie('authkey');
		
		//userid 기억하기 체크 여부 확인
		if(userid !== undefined){ //userid 쿠키가 존재하면 
			document.querySelector('#rememberUserid').checked = true; //userid 체크박스를 체크
			document.querySelector('#userid').value = userid; //로그인창의 userid 입력란에 userid 쿠키 값 출력 
		}
		else document.querySelector('#rememberUserid').checked = false;
		
	
	}
	
	//자동로그인 체크 관리
	const checkRememberMe = () => {
		
		if(document.querySelector('#rememberMe').checked){
			document.querySelector('#rememberUserid').checked = false;
		}
	}
	
	//아이디 체크 관리
	const checkRememberUserid = () => {
		
		if(document.querySelector('#rememberUserid').checked)
			document.querySelector('#rememberMe').checked = false;
	}
	
	
	//로그인 처리
	const login = () => {
		document.loginForm.action = '/account/login';
		document.loginForm.submit();
	}
	
	//로그인 정보 확인, 자동로그인
	const loginCheck = async () => {
		
		let userid = document.querySelector('#userid');
		let password = document.querySelector('#password');
		
		if(userid.value === ''){
			alert('아이디을 입력하세요.');
			userid.focus();
			return false; //false를 안 적으면 함수 실행을 종료
		}
		
	    if(password.value === ''){
	    	alert('비밀번호를 입력하세요.');
	    	password.focus();
	    	return false;
	    }
	
	    //리멤버미 항목 체크 확인하여 자동 로그인 여부를 결정 
		let formData = new FormData();
		formData.append("userid", userid.value);
		formData.append("password", password.value);
	
		await fetch('/account/loginCheck',{
			method : 'POST',
			body : formData
		}).then((response) => response.json())
		  .then((data) => {
			 if(data.msg == 'good'){				 
				 cookieManage(userid.value);
				 login();
			} else if(data.msg === 'ID_NOT_FOUND') {
				 	msg.innerHTML = '존재하지 않는 아이디입니다.';
			} else if(data.msg === 'PASSWORD_NOT_FOUND') {
					msg.innerHTML = '잘못된 패스워드입니다.';
			} else {
				console.log("msg = " + data.msg);
				alert("시스템 장애로 로그인이 실패 했습니다.");		 
			}		  
	    }).catch((error)=> { console.log("error = " + error);} );
	    
	}
	
	//쿠키 관리
	const cookieManage = (userid) => {
	
		if(rememberUserid.checked) {
			document.cookie = 'userid=' + userid + ';path=/; expires=Sun, 31 Dec 2023 23:59:59 GMT';
		} else document.cookie = 'userid=' + userid + ';path=/; max-age=0';
		
		
	} 
	
	//엔터키 눌러서 로그인 되도록 하는 기능 제공
	const press = () =>{
		if(event.keyCode == 13){loginCheck();}
		
	}

</script>

</head>
<body>


	<!-- header: all -->
	  <header>
	  <a href="/main" style="text-decoration: none;">
	    <h1 style="color: white; font-family: 'Ubuntu', sans-serif;">After School</h1>
	    <h3>온라인 방과후 교육 프로그램</h3>
	    </a>
	  </header>
	<!-- end of header: all -->
	
	<main>

	<div class="main">
		<div class="login">
			
			<h1 class="login_title">로그인</h1>
			<div class="login_container">
				<form name="loginForm" id="loginForm" class="loginForm" method="post"> 
					
					<input type="text" name="userid" id="userid" class="login_input" placeholder="아이디를 입력하세요.">
					<input type="password" id="password" name="password" class="login_input" onkeydown="press(this.form)" placeholder="비밀번호를 입력하세요.">
					
					<p id="msg" class="login_msg" style="color:red;text-align:center;"></p> 
					<div class="checkboxContainer">
						<div class="checkbox">
							<input type="checkbox" id="rememberUserid" onclick="checkRememberUserid()" >
							<label for="rememberUserid" class="checkLabel">
								<div class="labelCheckbox"></div>아이디 기억하기
							</label>
						</div>
						<div class="checkbox">
							<input type="checkbox" id="rememberMe" name="remember-me"  onclick="checkRememberMe()">
							<label for="rememberMe" class="checkLabel">
								<div class="labelCheckbox"></div>자동 로그인
							</label>
						</div>
					</div>
					<input type="button" id="btn_login" class="login_btn" value="로그인" onclick="loginCheck()"> 
				</form>
				<div class="bottomText_container">
					<div><a href="/account/searchID">아이디 찾기</a></div><div class="line"></div>
					<div><a href="/account/tempPassword">비밀번호 찾기</a></div><div class="line"></div>
					<div><a href="/account/signUp">회원 가입</a></div>
				</div>
			</div>
		</div>
	</div>
</main>

	
  <footer>
    <p>footer</p>
    <small>Go back to link<a href="/link">Click</a></small>
  </footer>
	

</body>


</html>