<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/AfterSchool.css}">
<title>After School :: 비밀번호 찾기</title>

<script>
const pwSearchCheck = async() => {

	if(userid.value == "") { alert("이메일을 입력하세요."); userid.focus();  return false; }
	if(username.value == '') { alert("이름을 입력하세요."); username.focus(); return false; }

	let formData = new FormData(pwSearchForm);
	
	await fetch("/member/searchPassword", {			
		method: 'POST',
		body: formData			
		
	}).then((response)=> response.json())
	  .then((data) => {
		  if(data.status == 'good'){				
			let result = "<br><br><h1>임시 비밀번호 : " + data.password + "</h1>";					
			TemporalPassword.innerHTML = result;
		  } else if(data.status == 'ID_NOT_FOUND'){
			  alert("해당 아이디를 가진 사용자가 없습니다.");
		  }	else if(data.status == 'USERNAME_NOT_FOUND'){
			  alert("이름이 잘못 되었습니다.");
		  }
	}).catch((error)=> {			
		console.log((error)=> console.log("error = " + error))
	});
	
}

const press = () => {
	
	if(event.keyCode == 13){ pwSearchCheck(); }
	
}

</script>
</head>

<body>
	
	<!-- header: all -->
	  <header>
	  <a href="/main" style="text-decoration: none;">
	    <h1 style="color: white; font-family: 'Ubuntu', sans-serif;">After School</h1>
	    <h3>온라인 방과후 교육 프로그램</h3>
	    </a>
	  </header>
	<!-- end of header: all -->
	
<main>
    <div>
        <form name="pwSearchForm" class="pwSearchForm" id="pwSearchForm" method="post">
        
        <h1>임시 비밀번호 발급</h1>
            <div class="pwSearchFormDivision">
                <input type="text" name="userid" id="userid" class="userid" placeholder="아이디를 입력하세요.">
                <input type="text" id="username" name="username" class="username" onkeydown="press(this.form)" placeholder="이름을 입력하세요.">
                <input type="button" id="btn_pwSearch" class="btn_pwSearch" value="임시 패스워드 발급" onclick="pwSearchCheck()"> 
            <input type="button" class="btn_cancel" value="홈으로" onclick="javascript:location.href='/'">
            </div> 
        </form>
        
        <div class='TemporalPassword' id='TemporalPassword'></div>

    </div>
    </main>
      <footer>
    <p>footer</p>
    <small>Go back to link<a href="/link">Click</a></small>
  </footer>

</body>
</html>